<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans|Raleway" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <link rel='stylesheet' type='text/css' href='css/application.css'>
  </head>
  <body>
    <form action="/login" method="post">
        {% if errorMessage %}
            <p>{{ errorMessage }}</p>
        {% endif %}
        <div>
            <label>Email:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form>
  </body>
</html>
