.dropdown-login {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    background-color: #222;

    li {
        border-top: 1px solid #fff;
        padding: 1rem 2rem;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}