.socialNav {
  margin: 0 auto 1rem;

  li {
    background-color: #3366cc;
    border-radius: 50%;
    padding: 6px 8px;
    font-size: 1.25rem;
    margin: 0 .5rem;
  }

  .iconTwitter {
    a {
      color: #222;
    }
  }

  .iconYoutube {
    a {
      color: #222;
    }
  }

  .iconLinkedin {
    a {
      color: #222;
    }
  }
}
