<!DOCTYPE html>
<html>
  <head>
    <title>DonTheDeveloper</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans|Raleway" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <link rel='stylesheet' type='text/css' href='/css/application.css'>
  </head>
  <body>
    <div class="nav">
      <div class="nav-toggle hidden-after-mobile" id="nav-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <ul class="nav-links condensed-on-mobile" id="nav">
        {% for category in categories %}
          <li class="{% if matchedCategory.id == category.id %}current{% endif %}">
            <a href="/{{ category.name }}">
                {{ category.name|capitalize }}
            </a>
          </li>
        {% endfor %}

        <!-- <li class="current"><a href="">Frontend</a></li>
        <li><a href="">Backend</a></li>
        <li><a href="">Scrum</a></li> -->
      </ul>
    </div>
    <div class="hero">
      <h1 class="hero-title">DonTheDeveloper</h1>
      <p class="hero-lead">Web Development through the eyes of a junior developer.</p>
      <form action="" method="post" class="subscribe-form{% if successMessage %} vanish{% endif %}">
        {% if successMessage %}
          <p class="success-message">{{ successMessage }}</p>
        {% endif %}
        {% if errorMessage %}
          <p class="error-message">{{ errorMessage }}</p>
        {% endif %}
        <input type="email" name="email" placeholder="Email" />
        <input type="submit" value="Subscribe" />
      </form>
    </div>

    {% block content %}{% endblock %}

    <div class="hero">
      <p class="hero-lead">Subscribe to receive notifications for updates.</p>
      <form class="subscribe-form">
        <input type="email" name="email" placeholder="Email" />
        <input type="submit" value="Subscribe" />
      </form>
    </div>
    <footer class="footer">
      <div class="footer-content">
        <p class="logo">DonTheDeveloper</p>
        <ul class="nav-categories">
          <li class="current"><a href="">Frontend</a></li>
          <li><a href="">Backend</a></li>
          <li><a href="">Scrum</a></li>
        </ul>
        <ul class="nav-social">
          <li><a target="_blank" rel="noopener noreferrer" href="http://twitter.com/developerdontv"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="http://youtube.com/donthedeveloper"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="http://twitch.tv/donthedeveloper"><i class="fa fa-twitch" aria-hidden="true"></i></a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://discord.gg/BfdCXZk"><i class="fa fa-gamepad" aria-hidden="true"></i></a></li>
        <ul>
      </div>
    </footer>

    <script src="js/scripts.js"></script>
  </body>
</html>
