<!DOCTYPE html>
<html>
  <head>
    <title>DonTheDeveloper</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->

    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans|Raleway" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <link rel='stylesheet' type='text/css' href='css/application.css'>
  </head>
  <body>
    <div class="nav">
      <ul>
        <li class="current"><a href="">Frontend</a></li>
        <li><a href="">Backend</a></li>
        <li><a href="">Scrum</a></li>
      </ul>
    </div>
    <div class="hero">
      <h1 class="hero-title">DonTheDeveloper</h1>
      <p class="hero-lead">Web Development through the eyes of a junior developer.</p>
      <form class="subscribe-form">
        <input type="email" name="email" placeholder="Email" />
        <input type="submit" value="Subscribe" />
      </form>
    </div>
    <div class="post--featured">
      <div class="post-content">
        <h2 class="post-title">What I learned building my first email marketing template</h2>
        <hr class='divider--mini'>
        <p class="post-text">
          Building email templates was fun. I got to completely ignore 
          the past 2 years of all that I have learned and worked hard for, 
          and vomit poorly code HTML and CSS onto the page. Building email templates was fun. I got to completely ignore 
          the past 2 years of all that I have learned and worked hard for, 
          and vomit poorly code HTML and CSS onto the page...
        </p>
        <a class="button--read-more" href="what-i-learned-building-my-first-email-marketing-template">Read More</a>
      </div>
    </div>
    <div class="post">
      <div class="post-content">
        <h2 class="post-title">What I learned building my first email marketing template</h2>
        <hr class='divider--mini'>
        <p class="post-text">
          Building email templates was fun. I got to completely ignore 
          the past 2 years of all that I have learned and worked hard for, 
          and vomit poorly code HTML and CSS onto the page. Building email templates was fun. I got to completely ignore 
          the past 2 years of all that I have learned and worked hard for, 
          and vomit poorly code HTML and CSS onto the page...
        </p>
        <a class="button--read-more" href="what-i-learned-building-my-first-email-marketing-template">Read More</a>
      </div>
    </div>
    <hr class="divider-full">
    <div class="post">
      <div class="post-content">
        <h2 class="post-title">What I learned building my first email marketing template</h2>
        <hr class='divider--mini'>
        <p class="post-text">
          Building email templates was fun. I got to completely ignore 
          the past 2 years of all that I have learned and worked hard for, 
          and vomit poorly code HTML and CSS onto the page. Building email templates was fun. I got to completely ignore 
          the past 2 years of all that I have learned and worked hard for, 
          and vomit poorly code HTML and CSS onto the page...
        </p>
        <a class="button--read-more" href="what-i-learned-building-my-first-email-marketing-template">Read More</a>
      </div>
    </div>
    <hr class="divider-full">
    <div class="post">
      <div class="post-content">
        <h2 class="post-title">What I learned building my first email marketing template</h2>
        <hr class='divider--mini'>
        <p class="post-text">
          Building email templates was fun. I got to completely ignore 
          the past 2 years of all that I have learned and worked hard for, 
          and vomit poorly code HTML and CSS onto the page. Building email templates was fun. I got to completely ignore 
          the past 2 years of all that I have learned and worked hard for, 
          and vomit poorly code HTML and CSS onto the page...
        </p>
        <a class="button--read-more" href="what-i-learned-building-my-first-email-marketing-template">Read More</a>
      </div>
    </div>
    <hr class="divider-full">
    <div class="post">
      <div class="post-content">
        <h2 class="post-title">What I learned building my first email marketing template</h2>
        <hr class='divider--mini'>
        <p class="post-text">
          Building email templates was fun. I got to completely ignore 
          the past 2 years of all that I have learned and worked hard for, 
          and vomit poorly code HTML and CSS onto the page. Building email templates was fun. I got to completely ignore 
          the past 2 years of all that I have learned and worked hard for, 
          and vomit poorly code HTML and CSS onto the page...
        </p>
        <a class="button--read-more" href="what-i-learned-building-my-first-email-marketing-template">Read More</a>
      </div>
    </div>
    <div class="hero">
      <p class="hero-lead">Subscribe to receive notifications for updates.</p>
      <form class="subscribe-form">
        <input type="email" name="email" placeholder="Email" />
        <input type="submit" value="Subscribe" />
      </form>
    </div>
    <footer class="footer">
      <div class="footer-content">
        <ul>
          <li>Frontend</li>
          <li>Backend</li>
          <li>Scrum</li>
        </ul>
        <ul>
          <li>Twitter</li>
          <li>Youtube</li>
          <li>Twitch</li>
          <li>Discord</li>
        <ul>
      </div>
    </footer>
  </body>
</html>
