.footer {
  padding: 3.5rem 0;
  background-color: #222;
  color: #fff;
  text-align: center;

  border-bottom: 5px solid #3366cc;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    display: inline-block;
  }
}
