body {
/*   font-family: 'Raleway', sans-serif; */
/*   font-family: 'Open Sans', sans-serif; */
/*   font-family: 'Montserrat', sans-serif; */
/*   font-family: 'Merriweather', serif; */
/*   font-family: 'Droid Sans', sans-serif; */
  background-color: #fcfdff;
}

nav {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  margin-bottom: 5rem;
  font-weight: 700;
  text-align: center;

  font-family: 'Montserrat', serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
}

nav li {
  display: inline-block;
  padding: 1rem 1.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

nav .selected {
  background-color: #fff;
}

.selected a {
  color: #222;
}

.nav h1,
.nav ul,
.nav li {
  display: inline-block;
}

.nav h1,
.nav ul {
  line-height: 24px;
  margin: 1rem;
}

.nav {
  width: 100%;
/*   position: fixed; */
  color: #222;
  background-color: #fff;
  margin-bottom: 5rem;
}
.nav:after {
  display: block;
  content: "";
  clear: both;
}

.nav h1 {
  float: left;
  font-size: 1.5rem;
}

.nav ul {
  float: right;
}

.nav li {
  margin: 0 1rem;
  font-weight: 700;
}



/* .post {
  text-align: center;
  padding: 5rem 9rem;
}
.post p {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Merriweather', serif;
}
.post h2 {
  font-family: 'Montserrat', serif;
}
.post hr {
  width: 50px;
  border-width: 2px 0 1px;
  border-color: #fff;
  border-style: solid;
}
.guest {
  background-color: #B20000;
  color: #E0FFFF;
}
.guest a {
  display: inline-block;
  padding: .75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: 700;
  background-color: white;
  border-radius: 15px;
  color: #000;
}
.fullstack {
  background-color: #222;
  color: #fff;
}
.fullstack a {
  display: inline-block;
  padding: .75rem 1.5rem;
  border-radius: 15px;
  background-color: #E13B3A;
  text-decoration: none;
  margin-top: 1rem;
  color: white;
  font-weight: 700;
}
.fullstack h2 {
  color: #E13B3A;
}
.developer a {
  background-color: #222;
  padding: .75rem 1.5rem;
  display: inline-block;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  margin-top: 1rem;
} */

hr {
  width: 80%;
  margin: 3rem auto;
  max-width: 800px;
}

section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0 10%;
}
section:after {
  content: "";
  display: block;
  clear: both;
}

section h2 {
  position: relative;
/*   background-color: #222; */
/*   padding: 1rem 1rem; */
  color: #3366cc;
/*   margin-bottom: 2rem; */

  border-radius: 5px;

  max-width: 750px;
  margin-bottom: 2rem;
  text-align: left;

  font-family: 'Montserrat', serif;
/*   font-size: 18px; */
}
section h2:before {
  content: "Feb 11";
  font-size: 12px;
  background-color: #222;
  color: #fff;
  padding: .5rem 1.5rem;

  position: absolute;
  left: -125px;
}
/* section h2:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 13px 0 13px;
  border-color: #222 transparent transparent transparent;

  position: absolute;
  right: 50%;
  bottom: -9px;
  transform: translateX(50%);
} */

section p {
  max-width: 750px;
  display: inline-block;

  margin: 0;

  line-height: 1.5;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  text-align: left;

  float: left;
  width: 70%;
}

section img {
  float: right;
}

section a {
  background-color: #3366cc;
  padding: .75rem 1.5rem;
  display: inline-block;
  border-radius: 15px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  margin-top: 1rem;
}



.subscribe-container {
  font-family: 'Montserrat', serif;
  padding: 5rem 0;
/*   margin-top: 10rem; */
  text-align: center;
}

.subscribe-container input,
.subscribe-container button {
  border-radius: 1px;
  font-size: 14px;
  padding-top: .5rem;
  padding-bottom: .5rem;
/*   border: none; */
}

.subscribe-container input {
  background-color: #e6ebf4;
  width: 400px;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid #dce3ef;
}

.subscribe-container button {
  text-transform: uppercase;
  background-color: #3366cc;
  padding: .5rem 3rem;
/*   border-radius: 5px; */
  color: #fff;
  border: 1px solid #2952a3;
  font-weight: 600;
  letter-spacing: 2px;

/*   font-family: 'Raleway', sans-serif; */
/*   font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Droid Sans', sans-serif; */
}



.footer1 {
  padding: 3.5rem 0;
  background-color: #222;
  color: #fff;
  text-align: center;

  border-bottom: 5px solid #3366cc;
}

.footer1 ul {
  list-style-type: none;
  padding-left: 0;
}

.footer1 li {
  display: inline-block;
}

.social-nav {
  margin: 0 auto 1rem;
}

.social-nav li {
  color: #222;
  background-color: #3366cc;
  border-radius: 50%;
  padding: 6px 8px;
  font-size: 20px;
  margin: 0 7px;
}

.footer-nav {
  margin-bottom: 0;

  font-family: 'Montserrat', serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 12px;
}

.footer-nav li {
  margin: 0 10px;
}

.footer-nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.footer2 {
  height: 5px;
  background-color: #3366cc;
}
