/* ----------------- START DROPDOWN CONTAINER ----------------- */
.layout-dropdown ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border-left: 1px solid #222; }

.dropdown-login {
  float: right;
  background-color: #222; }

.dropdown-login li {
  border-top: 1px solid #fff;
  padding: 1rem 2rem; }

.dropdown-login a {
  color: #fff;
  text-decoration: none; }

.layout-nav--dropdown {
  float: left;
  display: inline-block;
  background-color: #222; }

.layout-nav--dropdown li {
  border-top: 1px solid #fff;
  padding: 1rem 2rem; }

.layout-nav--dropdown a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

/* ----------------- END DROPDOWN CONTAINER ----------------- */
/* ----------------- START CONTENT CONTAINER ----------------- */
.layout-content {
  margin-top: 5rem; }

/* ----------------- END CONTENT CONTAINER ----------------- */
/* ----------------- START INTRO POSTS ----------------- */
section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0 10%;
  position: relative; }

section:after {
  content: "";
  display: block;
  clear: both; }

section h2 {
  position: relative;
  color: #3366cc;
  border-radius: 5px;
  max-width: 750px;
  margin-bottom: 2rem;
  text-align: left;
  font-family: 'Montserrat', serif; }

section h2:before {
  content: "Feb 11";
  font-size: 12px;
  background-color: #222;
  color: #fff;
  padding: .5rem 1.5rem;
  position: absolute;
  left: -125px; }

section p {
  max-width: 750px;
  display: inline-block;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  text-align: left;
  float: left;
  width: 70%; }

section img {
  float: right; }

section a {
  background-color: #3366cc;
  padding: .75rem 1.5rem;
  display: inline-block;
  border-radius: 15px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  margin-top: 1rem; }

hr {
  width: 80%;
  margin: 3rem auto;
  max-width: 800px; }

/* ----------------- END INTRO POSTS ----------------- */
/* ----------------- START INDIVIDUAL POSTS ----------------- */
.post-full {
  max-width: 800px;
  margin: 0 auto;
  /*text-align: center;*/
  padding: 0 10%;
  position: relative; }

.post-full:after {
  content: "";
  display: block;
  clear: both; }

.post-full h2 {
  position: relative;
  color: #3366cc;
  border-radius: 5px;
  max-width: 750px;
  margin-bottom: 2rem;
  text-align: left;
  font-family: 'Montserrat', serif; }

.post-full h2:before {
  content: "Feb 11";
  font-size: 12px;
  background-color: #222;
  color: #fff;
  padding: .5rem 1.5rem;
  position: absolute;
  left: -125px; }

.post-full p {
  max-width: 750px;
  display: inline-block;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  text-align: left;
  /*float: left;*/
  /*width: 70%;*/ }

.post-full label {
  font-size: 18px; }

.post-full input,
.post-full textarea {
  margin: .3rem auto 2rem;
  width: 100%; }

.input-introParagraph {
  height: 100px; }

.input-content {
  /*resize: none;*/
  height: 300px; }

/* ----------------- END INDIVIDUAL POSTS ----------------- */
.btn-read-more {
  text-transform: uppercase;
  background-color: #3366cc;
  padding: .5rem 1.5rem;
  color: #fff;
  border: 1px solid #2952a3;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Montserrat', serif;
  position: absolute;
  bottom: 0;
  left: 135px; }

.subscribe-container {
  font-family: 'Montserrat', serif;
  padding: 5rem 0;
  text-align: center; }

.subscribe-container input {
  border-radius: 1px;
  font-size: 14px;
  padding-top: .5rem;
  padding-bottom: .5rem; }

.input-subscribe--email {
  background-color: #e6ebf4;
  width: 400px;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid #dce3ef; }

.input-subscribe--submit {
  text-transform: uppercase;
  background-color: #3366cc;
  padding: .5rem 3rem;
  /*   border-radius: 5px; */
  color: #fff;
  border: 1px solid #2952a3;
  font-weight: 600;
  letter-spacing: 2px; }

.clear-floats:after {
  content: "";
  display: block;
  clear: both; }

.hidden {
  display: none; }
